:host {
  flex: 1 1;
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.connecting {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - var(--top-bar-height));
  z-index: 1000;
}

.left {
  flex: 1;
  height: calc(100vh - var(--top-bar-height) - 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .players {
    flex-grow: 1;
    overflow: auto;
  }
}

.right {
  min-width: 40rem;
  flex: 4 1;
  height: calc(100vh - var(--top-bar-height) - 4rem);
}
